body {
    background-color: rgb(220, 226, 233);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1155px;
    margin: auto;
}

.photo {
    
    border-radius: 30px;
    border: 1px solid rgb(183, 183, 187);
    width: 1155px;
}

#title, {
    color: rgb(45, 45, 48);
    font: size 40px;
    text-transform: uppercase;

} 

a {
    font-style: italic;
    color: rgb(45, 45, 48);;
}


.subtitle, {
    color: rgb(45, 45, 48);
}



.post_title {
    color: rgb(45, 45, 48);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    width: 300px;

}

.post {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 15px;
    border: 3px solid rgb(183, 183, 187);
    border-radius: 30px;
    
}

.post_content {
    margin: 0px;
    margin-bottom: 15px;
    text-align: justify;
    
}



.contacts_list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a {
    text-decoration: none;
}
 
